.dashboard-container {
  min-height: 100vh;
}

.forMobile {
        height: auto !important;
    position: static !important;
    z-index: 1 !important;
}


.top-btn-toggle {
 position: fixed !important;
  top: 0 !important;
}

.toggle-btn {
  display: none !important;
  width: 40px;
  height: 40px;
  border-bottom-right-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--main-yellow-color);
  transition: 0.3s ease;

  svg {
    font-size: 20px;
  }
}

.toggle-btn:hover {
  background-color: #ffda6a;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media screen and (max-width:576px) {
  .content-container {
    padding: 0 !important;
  }
      .forMobile {
        height: 100vh !important;
    position: fixed !important;
    z-index: 100 !important;
}

.toggle-btn {
  display: flex !important;
}
}